.modal-content {
    background: white;
    padding: 0px 10px 20px 10px;
    border-radius: 10px;
    text-align: center;
    width: 50%; /* 원하는 너비로 조정 */
    max-width: 500px; /* 최대 너비 설정 */
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
    transform: translate(-50%, -50%);
    position: fixed;
    top: 50%;
    left: 50%;
    z-index: 1000;
}

.modal-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.modal-logo {
    font-family: "yg-jalnan", sans-serif;
    font-size: 30px;
    flex: 1;
    text-align: left;
}

.close-button {
    position: absolute;
    top: 3%;
    right: 3%;
    background: none;
    border: none;
    font-size: 40px;
    cursor: pointer;
}

.modal-content p {
    font-size: 18px;
    margin: 20px;
}

.modal-buttons {
    margin-top: 50px;
    display: flex;
    justify-content: space-around;
}

.modal-buttons button {
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    background-color: black;
    color: white;
    cursor: pointer;
}

.modal-buttons button:hover {
    background-color: grey;
}
