.modal1-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1000;
    display: flex;
    align-items: center;
    justify-content: center;
}

.modal1-content {
    background: #fff;
    padding: 20px;
    border-radius: 10px;
    text-align: center;
    width: 90%;
    max-width: 400px; 
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
    animation: fadeIn 0.3s ease-out;
}

.modal1-content p {
    font-size: 18px;
    margin: 20px 0;
    color: #333;
}

.modal1-buttons {
    display: flex;
    justify-content: space-around;
    margin-top: 20px;
}

.modal1-buttons button {
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    background-color: #62DFA6;
    color: white;
    cursor: pointer;
    transition: background-color 0.3s;
}

.modal1-buttons button:hover {
    color: black;
}

.modal1-buttons button:last-child {
    background-color: #6c757d;
}

.modal1-buttons button:last-child:hover {
    background-color: #5a6268;
}

@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(-10px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}
