.articleComponent-horizontal {
    display: flex;
    align-items: center;
    border-bottom: 1px solid #ccc;
    justify-content: space-between;
    width: 100%; /* 부모 컨테이너의 너비를 모두 차지하도록 설정 */
}

.textbox-horizontal {
    padding: 10px;
    display: flex;
    flex-direction: row;
    gap: 20px;
    flex: 1; /* 텍스트 박스가 가능한 한 많은 공간을 차지하도록 설정 */
    margin-right: 10px; /* 버튼과 텍스트 사이의 간격 추가 */
    margin-top: 20px;
    min-width: 0; /* 내용이 넘칠 때 줄바꿈 되도록 설정 */
}

.textheader {
    font-size: 1.2em;
    font-weight: bold;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis; /* 긴 텍스트가 넘칠 때 생략표시(...) */
}

.writer,
.postedDay {
    font-size: 0.9em;
    color: #666;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.buttonContainer-horizontal {
    display: flex;
    gap: 10px;
}

.editBtn,
.deleteBtn {
    background: #007bff;
    color: white;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
    white-space: nowrap; /* 버튼 텍스트가 줄바꿈되지 않도록 설정 */
    border-radius: 10px;
    transition: background-color 0.3s, transform 0.3s;
}

.editBtn {
    background: #28a745;
}

.editBtn:hover {
    background: #218838;
}

.editBtn:active {
    background: #1e7e34;
    transform: scale(0.95);
}

.deleteBtn {
    background: #dc3545;
}

.deleteBtn:hover {
    background: #c82333;
}

.deleteBtn:active {
    background: #bd2130;
    transform: scale(0.95);
}
