.articleComponent {
    border: 1px solid black;
    border-radius: 5%;
    overflow: hidden;
}

.imgbox {
    display: flex;
    justify-content: center;
}

img {
    width: auto;
    height: auto;
    overflow: hidden;
    object-fit: cover;
}

.textbox {
    display: flex;
    flex-direction: column;
}

.textcategori {
    padding: 0.7rem;
}

.textheader {
    padding: 1rem;
    font-size: 32px;
    font-weight: bold;
}

.postedDay {
    padding: 1rem;
    text-align: right;
}

.liked {
    padding: 0.5rem;
    display: flex;
    justify-content: start;
    align-items: center;
}

.liked > img {
    width: 30px;
    height: 30px;
    margin: 5px;
}

.addArticlesContainer {
    width: 90%;
    display: flex;
    justify-content: end;
    align-items: center;
    margin: 20px;
}

.addArticlesContainer > button {
    padding: 10px 5px;
}

.editBtn {
    background-color: #4caf50;
    color: white;
    padding: 8px 12px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 14px;
    margin-top: 10px;
    transition: background-color 0.3s, transform 0.3s;
}

.editBtn:hover {
    background-color: #45a049;
    transform: scale(1.05);
}
