.articleComponent {
    border: 1px solid black;
    border-radius: 5%;
    overflow: hidden;
    padding: 10px;
    margin: 10px 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.imgbox {
    display: flex;
    justify-content: center;
    margin-bottom: 10px;
}

img {
    width: 100%;
    height: auto;
    overflow: hidden;
    object-fit: cover;
    border-radius: 5%;
}

.textbox {
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
}

.textcategori {
    padding: 0.7rem;
}

.textheader {
    padding: 1rem;
    font-size: 24px;
    font-weight: bold;
}

.postedDay {
    padding: 1rem;
    text-align: right;
    font-size: 14px;
    color: gray;
}

.writer {
    padding: 0.5rem;
    display: flex;
    justify-content: start;
    align-items: center;
    font-size: 16px;
    font-weight: 500;
}

.addArticlesContainer {
    width: 90%;
    display: flex;
    justify-content: end;
    align-items: center;
    margin: 20px;
}

.addArticlesContainer > button {
    padding: 10px 20px;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    background-color: #007bff;
    color: white;
    transition: background-color 0.3s, transform 0.3s;
}

.addArticlesContainer > button:hover {
    background-color: #0056b3;
    transform: scale(1.05);
}

.buttonContainer {
    display: flex;
    justify-content: space-between; /* 좌우로 버튼 배치 */
    margin-top: 10px;
}

.editBtn,
.deleteBtn {
    width: 60px;
    height: 40px;
    background-color: #4caf50;
    color: white;
    padding: 6px 10px; /* 버튼 크기 축소 */
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 15px; /* 폰트 크기 축소 */
    transition: background-color 0.3s, transform 0.3s;
}

.editBtn:hover {
    background-color: #45a049;
    transform: scale(1.05);
}

.deleteBtn {
    background-color: #f44336;
    margin-left: 10px;
}

.deleteBtn:hover {
    background-color: #e31b0c;
    transform: scale(1.05);
}
