.mainArticles {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 20px;
}

.mainArticles > .item {
    height: auto;
}

.outercontainer {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.otherArticles {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
}

.otherArticles > .item {
    width: 250px;
}

.movepage {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
}

.sortContainer {
    margin: 20px auto;
    width: 85%;
    display: flex;
    justify-content: start;
    padding: 5px;
}

.sortBtn {
    margin: 0 10px;
    padding: 10px 20px;
    border: 2px solid orange;
    border-radius: 20px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s, color 0.3s, transform 0.3s;
    background-color: white;
}

.sortBtn:hover,
.sortBtn.active {
    background-color: orange;
    color: white;
    transform: scale(1.05);
}

.addArticlesContainer {
    margin-top: 20px;
}

.writeBtn {
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    background-color: #4caf50;
    color: white;
    border: none;
    border-radius: 4px;
    transition: background-color 0.3s;
}

.writeBtn:hover {
    background-color: #45a049;
}

.pagination {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.pagination button {
    margin: 0 5px;
    padding: 10px 15px;
    border: none;
    border-radius: 15%;
    cursor: pointer;
    background-color: #f0f0f0;
    font-size: 16px;
}

.pagination button.active {
    background-color: orange;
    color: white;
}

.editBtn {
    margin: 10px 5px;
    padding: 10px 15px;
    border: none;
    cursor: pointer;
    background-color: orange;
    font-size: 16px;
}

.writeBtn {
    margin: 10px 5px;
    padding: 10px 15px;
    border: none;
    cursor: pointer;
    background-color: orange;
    font-size: 16px;
}
