.Header-Container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 100px;
  background-color: black;
  color: white;
  user-select: none;
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 1000;
  border-radius: 10px;
  left: 50%;
  transform: translateX(-50%);
  font-weight: 100;
}

.Header-Container .Logo {
  font-family: 'yg-jalnan', sans-serif;
  font-size: 35px;
  flex: 1; 
  text-align: left;
}

.Header-Container a {
  text-decoration: none;
  color: inherit;
  outline: none;
}

.Header-Container a:focus,
.Header-Container a:active {
  outline: none;
  text-decoration: none;
}

.Nav-Menu {
  flex: 2;
  display: flex;
  justify-content: center;
  
}

.Nav-Menu ul {
  list-style: none;
  display: flex;
  margin: 0;
  padding: 0;
  
}

.Nav-Menu ul li {
  margin: 0 60px;
  position: relative;
}

.Nav-Menu ul li a {
  text-decoration: none;
  color: white;
  font-size: 20px;
}

.Nav-Menu-Login ul li a:hover,
.Nav-Menu ul li a:hover {
  color: #D3D3D3;
}

.Nav-Menu ul li:hover::after {
  transform: scaleX(1);
}

.Nav-Menu ul li::after {
  content: '';
  position: absolute;
  left: 0;
  right: 0;
  bottom: -8px; 
  height: 3px; 
  background-color: white;
  transform: scaleX(0);
  transform-origin: left;
  transition: transform 0.3s ease-in-out;
}

.Nav-Menu-Login {
  flex: 1;
  display: flex;
  justify-content: flex-end;
}

.Nav-Menu-Login ul {
  list-style: none;
}

.Menu-Icon {
  display: none;
}

@font-face {
  font-family: 'yg-jalnan';
  src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_four@1.2/JalnanOTF00.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@media (max-width: 1200px) {
  .Nav-Menu, .Nav-Menu-Login {
    display: none;
  }

  .Menu-Icon {
    display: block;
    font-size: 35px;
  }

  .Menu-Icon:hover{
    color: #D3D3D3;
    cursor: pointer;
  }

  .Nav-Menu.open, .Nav-Menu-Login.open {
    display: flex;
    position: absolute;
    top: 80px;
    left: 0;
    width: 100%;
    background-color: black;
    padding: 10px 0;
    z-index: 999;
    border-radius: 10px;
  }

  .Nav-Menu ul, .Nav-Menu-Login ul {
    align-items: center;
  }

  .Nav-Menu ul li, .Nav-Menu-Login ul li {
    margin: 0px 20px;
    padding: 0 10px;
  }
}