.MainTop-Container {
  height: 100vh;
  background-image: url("/Components/MainTop.png");
  background-size: cover;
  background-position: center;
  text-align: center;
  user-select: none;
  font-family: "Nanum Gothic", sans-serif;
}

.MainTop-Container .Top {
  padding: 130px;
  opacity: 0;
  transform: translateY(100px);
  transition: opacity 1s ease-out, transform 1s ease-out;
}

.MainTop-Container .Top.animate {
  opacity: 1;
  transform: translateY(0);
}

.MainTop-Container .Top p {
  padding: 10px;
  font-size: 80px;
  font-weight: 600;
  color: black;

}

.MainTop-Container .Center {
  margin-top: 70px;
  opacity: 0;
  transform: translateY(100px);
  transition: opacity 1s ease-out, transform 1s ease-out;
}

.MainTop-Container .Center.animate {
  opacity: 1;
  transform: translateY(0);
}

.MainTop-Container .Center p {
  margin-top: 10px;
  font-size: 26px;
  font-weight: 900;
  color: black;
}

.MainTop-Container button {
  font-size: 24px;
  margin-top: 50px;
  background-color: black;
  color: white;
  border: none;
  padding: 10px 30px;
  border-radius: 10px;
  transition: color 0.3s, background-color 0.3s;
  font-weight: 100;
  font-family: "Nanum Gothic", sans-serif;
}

.MainTop-Container button:hover {
  color: black;
  background-color: white;
  cursor: pointer;
}

.animate {
  animation: slideIn 1s forwards;
}

@keyframes slideIn {
  from {
    transform: translateY(100px);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}

@media (min-width: 1200px) {
  .MainTop-Container .Top p {
    font-size: 80px;
  }

  .MainTop-Container .Center p {
    font-size: 26px;
  }

  .MainTop-Container button {
    font-size: 24px;
  }
}

@media (min-width: 768px) and (max-width: 1199px) {
  .MainTop-Container .Top p {
    font-size: 60px;
  }

  .MainTop-Container .Center p {
    font-size: 22px;
  }

  .MainTop-Container button {
    font-size: 20px;
  }
}

@media (max-width: 767px) {
  .MainTop-Container .Top {
    padding: 20px;
  }

  .MainTop-Container .Top p {
    font-size: 40px;
  }

  .MainTop-Container .Center {
    margin-top: 50px;
  }

  .MainTop-Container .Center p {
    font-size: 18px;
  }

  .MainTop-Container button {
    font-size: 18px;
    margin-top: 30px;
    padding: 8px 20px;
  }
}
