.custom-container {
  background-color: white;
  border: 1px solid #ddd;
  padding: 20px;
  margin: 0px 25px 10px 25px;
  text-align: center;
  font-size: 18px;
  border-radius: 10px;
  width: calc(30% - 20px);
  height: 300px;
  min-width: 360px;
  max-width: 450px;
  box-sizing: border-box;
}

.custom-container .post-center{
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.custom-container .post-top {
  text-align: left;
}

.post__date {
  font-size: 13px;
}

.post__author {
  font-size: 16px;
  color: grey;
}

.post__title {
  font-size: 18px;
  font-weight: 500;
}

.custom-container .post-center {
  margin: 40px 0;
  font-weight: 500;
  font-size: 20px;
  
}

.custom-container .post-bottom {
  margin-top: 90px;
  display: flex;
  justify-content: flex-end;
}

.custom-container .post-bottom p {
  margin: 0 10px;
  font-weight: 300;
  font-size: 16px;
}

@media (min-width: 1200px) {
  .custom-container {
    width: calc(30% - 20px);
  }
}

@media (min-width: 768px) and (max-width: 1199px) {
  .custom-container {
    width: calc(45% - 20px);
  }
}

@media (max-width: 767px) {
  .custom-container {
    width: calc(100% - 20px);
    margin: 0 auto 20px;
  }
}
